In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df=pd.read_csv('20240811.gkgcounts.csv.zip',compression='zip',header=0,sep='\t')

In [3]:
def normalize_date(date):
    # Convert to datetime object
    date_obj = datetime.strptime(str(date), "%Y%m%d")

    # Convert to desired string format
    normalize_date = date_obj.strftime("%Y-%m-%d")

    return normalize_date

In [4]:
df['DATE'] = df['DATE'].apply(normalize_date)

In [5]:
df['SOURCEURLS'][2]

'https://www.illawarramercury.com.au/story/8724775/afghans-find-refuge-and-now-face-uncertain-future/?cs=9676<UDIV>https://www.greatlakesadvocate.com.au/story/8724775/afghans-find-refuge-and-now-face-uncertain-future/?cs=13338<UDIV>https://www.centralwesterndaily.com.au/story/8724775/afghans-find-refuge-and-now-face-uncertain-future/<UDIV>https://www.goulburnpost.com.au/story/8724775/afghans-find-refuge-and-now-face-uncertain-future/?cs=2650'

In [6]:
df

,DATE,NUMARTS,COUNTTYPE,NUMBER,OBJECTTYPE,GEO_TYPE,GEO_FULLNAME,GEO_COUNTRYCODE,GEO_ADM1CODE,GEO_LAT,GEO_LONG,GEO_FEATUREID,CAMEOEVENTIDS,SOURCES,SOURCEURLS
0,2024-08-11,1,CRISISLEX_C03_WELLBEING_HEALTH,2,soldiers,4,"Jammu, Jammu And Kashmir, India",IN,IN12,32.733300,74.86670,-2098228,"1192034438,1192034467,1192052937,1192049070,11...",thehindu.com,https://www.thehindu.com/news/national/anantna...
1,2024-08-11,1,KILL,620,Palestinians,4,"Gaza, Israel (General), Israel",IS,IS00,31.416700,34.33330,-797156,1192046243,egyptindependent.com,https://www.egyptindependent.com/nearly-three-...
2,2024-08-11,4,AFFECT,2000,Afghans,1,Germany,GM,GM,51.500000,10.50000,GM,"1192074223,1192126763,1192126764,1192126765,11...",illawarramercury.com.au;greatlakesadvocate.com...,https://www.illawarramercury.com.au/story/8724...
3,2024-08-11,1,WOUND,2000,civilians,1,Ukraine,UP,UP,49.000000,32.00000,UP,"1192080724,1192076491,1192080914,1192073192,11...",ukrainetoday.org,https://ukrainetoday.org/ombudsman-tatyana-mos...
4,2024-08-11,1,SOC_GENERALCRIME,11,NaN,1,Israel,IS,IS,31.500000,34.75000,IS,"1192103138,1192117029,1192117201,1192074395,11...",shorenewsnetwork.com,https://www.shorenewsnetwork.com/2024/08/11/el...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13108,2024-08-11,1,WOUND,3,NaN,4,"Jammu, Jammu And Kashmir, India",IN,IN12,32.733300,74.86670,-2098228,"1192054609,1192036844,1192053264",idrw.org,https://idrw.org/2-soldiers-killed-3-injured-i...
13109,2024-08-11,1,KILL,107,Hindus,1,United States,US,US,39.828175,-98.57950,US,"1192031662,1192041983,1192041988,1192041989,11...",news18.com,https://www.news18.com/world/indian-american-l...
13110,2024-08-11,1,TAX_FNCACT_ACTIVISTS,100,NaN,4,"Palma De Mallorca, Islas Baleares, Spain",SP,SP07,39.574300,2.65522,-395224,"1192110457,1192110561,1192105580,1192105614,11...",dailymail.co.uk,https://www.dailymail.co.uk/news/article-13732...
13111,2024-08-11,5,ARREST,16,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"1192031789,1192031789,1192031790,1192108162",glasgowtimes.co.uk;countypress.co.uk;borneobul...,https://www.glasgowtimes.co.uk/news/national/2...
13112,2024-08-11,2,CRISISLEX_T03_DEAD,9,NaN,4,"Santorini, Perifereia Notiou Aigaiou, Greece",GR,GR61,36.395600,25.45920,-829276,"1192095562,1192095563,1192095565,1192095562,11...",birminghammail.co.uk;birminghammail.co.uk,https://www.birminghammail.co.uk/travel/greece...